# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
blog/myenv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings (jika kamu pakai VSCode)
.vscode/
